<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevTalents - <%=firstname%></title>
    <link rel="stylesheet" type="text/css" href="profile.css">
    <style>
        .stackSelect{
        display: inline-block;
        color: white;
        border-radius: 6px;
        background: grey;
        width: max-content;
        padding: 3px;
        margin: 8px;
        cursor: default;
        }
    </style>
</head>
<body>
    <div id="container">
        <header>
            <div id="me">
                <img src="https://avatars.githubusercontent.com/<%=username%>" alt="Nome">
                <div id="presentation">
                    <h1><%=firstname%></h1><br>
                    <h1><strong><%=lastname%>,</strong> <mark class="light"><%=age%></mark></h1>
                    <h5>Junior Fullstack Developer</h5>
                </div>
            </div>
        </header>
       <div id="maininfo">
        <div class="cv-parts">
            <h2>Apresentação</h2>
            <p id="myPresentation"><%=presentation%></p>
        </div>
        <div id="interline"></div>
        <div class="cv-parts">
            <h2>Stacks</h2>
            <div class="myStacks">
                <%=Stacks%>
            </div>
            <div id="interline"></div>
            <div id="contactinfo">
                <h5><img src="images/global/mail.png" alt="e-mail"><%=email%></h5>
                <h5><img src="images/global/local.png" alt="residencia"><%=adress%></h5>
                <h5><img src="images/global/github.png" alt="residencia"><a href="https://github.com/<%=user%>" target="_blank">Github</a></h5>
                <h5><img src="images/global/linkedin.png" alt="residencia"><a href="https://linkedin.com/in/<%=user%>" target="_blank">LinkedIn</a></h5>
            </div>
            <div id="interline"></div>
        </div>
       </div>
    </div>
</body>
<script>
    let myStacks = document.querySelector('.myStacks')
    let Stacks = JSON.parse(document.querySelector('.myStacks').innerHTML)
    onload = ()=>{
        myStacks.innerHTML = ''
        for(x in Stacks){
            myStacks.innerHTML += `<p class="stackSelect">${Stacks[x]}</p>`
        }
    }
</script>
</html>